@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');




h1{color: aqua;}

body{

font-size: 20px;
line-height: 1.5;
background-color: greenyellow;
font-family: "Mulish", sans-serif;

}

img{

width: 500px;

}

img{
display: block;
margin: auto;
width: 300px;
}
